# Archivos compilados / optimizados / dll
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribuciones
dist/
build/
*.egg
*.whl

# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos específicos del editor/IDE
.idea/             # IDEs de JetBrains (PyCharm, IntelliJ)
.vscode/           # Configuración de VS Code (opcional, si quieres compartir configuraciones específicas)
*.sublime-project
*.sublime-workspace
.project
.settings/
.dm/               # Docker Machine

# Archivos específicos del sistema operativo
.DS_Store          # macOS
Thumbs.db          # Windows
ehthumbs.db        # Windows
.Spotlight-V100    # macOS
.Trashes           # macOS
desktop.ini        # Windows

# Logs y bases de datos
*.log
*.sqlite3
*.db.sqlite3

# Volcados de memoria y otras salidas
*.stackdump
*.prof
*.coverage

# Archivos de Jupyter Notebook
.ipynb_checkpoints/